#color-input{
    vertical-align: middle;
}

#changing-element{
    display: inline-block;
    vertical-align: middle;

    width: 30px;
    height: 30px;

    margin-left: 10px;
}

#color-select{
    display: block;
}